import { boundClass } from "autobind-decorator"
import serviceClient from "{{&importRoot}}{{&serverClientPath}}"
import { {{&operationClass}} as Base{{&operationClass}} } from "{{&importRoot}}{{&operationsPath}}"
{{#operationMapperPath}}
import * as mappers from "{{&importRoot}}{{&operationMapperPath}}"
{{/operationMapperPath}}


const {{&operationClass}} = (boundClass(Base{{&operationClass}})) as typeof Base{{&operationClass}};

{{#clientName}}
export const {{&clientName}} = new {{&operationClass}}(serviceClient);
{{/clientName}}
{{^clientName}}
export default new {{&operationClass}}(serviceClient)
{{/clientName}}

{{#operationMapperPath}}
export { mappers }
{{/operationMapperPath}}
