import serviceClient from "{{&importRoot}}{{&serverClientPath}}"
import { {{&operationClass}} } from "{{&importRoot}}{{&operationsPath}}"
{{#operationMapperPath}}
import * as mappers from "{{&importRoot}}{{&operationMapperPath}}"
{{/operationMapperPath}}


{{#clientName}}
export const {{&clientName}} = new {{&operationClass}}(serviceClient);
{{/clientName}}
{{^clientName}}
export default new {{&operationClass}}(serviceClient)
{{/clientName}}

{{#operationMapperPath}}
export { mappers }
{{/operationMapperPath}}
